body{
    padding: 0px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 99.6vw;
    height: 99vh;
    /* border:1px solid red; */
}
/* header */
header{
    background-color: rgb(128,128,128);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    width: 100%;
}
header h1{
    font-family: 'Bahianita', cursive;
    font-size: 2em;
    letter-spacing: 1;
    font-weight: bold;
}
header a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
header a:hover{
    text-decoration: underline;
}
/* main page */
#main_page{
    width: 100%;
    /* border:1px solid #000; */
    height: 300px;
    align-self:flex-end;
    margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}
strong{
    color: red;
    text-align: center;
}
/* main page form */
#main_page form{
   /* border: 1px solid green; */
   width: 900px;
   margin: auto;
   
}
#main_page form .group{
  display: flex;
  flex-direction: column;
  margin: 15px;
   /* border: 1px solid red; */
}
#main_page form .group input, #main_page form .group select{
    height: 40px;
    background-color: #fff;
    border:1px solid rgb(128,128,128);
}
#main_page form .group:last-child input{
    width: 100px;
    background-color: rgba(128,128,128, .5);
    color: #fff;
    border:none;
    height: 40px;
}
#main_page form .group:last-child input:hover{
    background-color: rgb(128,128,128);
}
#main_page form .group label{
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(128,128,128);
}
/* main page table */
#main_page table{
    margin: 10px;
}
#main_page table tr, #main_page table th, #main_page table td{
    border-collapse: collapse;
    border: 1px solid rgb(128,128,128);
    height: 30px;
} 
/* form update image */
form img{
    border-radius: 50px;
    border: 1px solid rgb(128,128,128) !important;
}
/* form search table crud */
table caption {
    margin-bottom: 15px;
}
table caption form{
    display: flex;
    justify-content: space-around;
}
table caption form input[type="search"]{
    flex:1;
    height: 30px;
    margin: 0px 5px;
    border: 1px solid rgb(128,128,128);
}
table caption form input[type="submit"]{
    border: none;
    color: #fff;
    background-color: rgb(128,128,128);
}
table caption form label{
    font-weight: bold;
    color: rgb(128,128,128);
}
/* -----------------MEDIA QUERY --------------------------- */
@media all  and (max-width: 1024px){
    body{
        width: 99vw;
        height: 99vh;
        margin: 0;
        padding: 0;
    }
    header{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0;
        padding-bottom: 5px;
    }
    header a{
        margin-bottom: 5px;
    }
    #main_page{
       margin-top: 0px;
    }
    #main_page table caption form{
      width: 100%;
      margin: auto;  
    }
} 